[% WRAPPER main.tt session = session %]

<script type="text/javascript">
</script>

<br>	
<h2><img src="/Student/images/help.png"> Help</h2>
<br>
<br>


<p>Welcome to the MAKER Web Annotatation Service.  To get started, please register or sign in as a guest.  If you are new to this service, try submiting an example job for annotation once you are signed in.  First click on "New Job", then select a job from the example menu.<p>

<p>Please <a href="http://gmod.org/wiki/MWAS_Tutorial">click here</a> for a detailed guide to genome annotation and using the MAKER Web Annotation Service.  You will be redirected to an external wiki</p>
                                                                                                
<p>MAKER accepts files in fasta and GFF3 format for integration into the annotation proccess.  <a href ="http://www.sequenceontology.org/gff3.shtml">Look here</a> for more information on GFF3 format.</p>


[% END %]