
#SNAP
.snap-exon,
.plus-snap-exon,
.minus-snap-exon,
.snap-UTR, 
.plus-snap-UTR, 
.minus-snap-UTR,
.snap-five_prime_UTR,
.plus-snap-five_prime_UTR,
.minus-snap-five_prime_UTR,
.snap-three_prime_UTR,
.plus-snap-three_prime_UTR,
.minus-snap-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #99FFCC;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


#Augustus
background-color: #FFCCFF;

#GeneMark
background-color: #679B68;

#FGENESH
background-color: #FF99FF;

#protein2genome
.protein2genome_part,
.plus-protein2genome_part,
.minus-protein2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FFFF00;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 2px 1px 2px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

