<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="keywords" content="Short description of page goes here." />
<meta name="description" content="keywords, go, here, seperated, by, commas" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="/js/jquery-lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<link rel="stylesheet" href="/js/jquery-accordion/demo/demo.css" type="text/css" />

<link rel="stylesheet" href="/css/miso_style.css" type="text/css" />
<link rel="stylesheet" href="/js/dataTables-1.5/media/css/demo_page.css" type="text/css" />
<link rel="stylesheet" href="/js/dataTables-1.5/media/css/demo_table.css" type="text/css" />
<!-- Override the main_content and left_colum widths for MISO-->

<!-- JavaScript -->

</script>



<script type="text/javascript" src="/js/dataTables-1.5/media/js/jquery.js"></script>
<script src="/js/jquery-1.2.6.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/dataTables-1.5/media/js/jquery.dataTables.js">

<script type="text/javascript" src="/js/jquery-accordion/lib/chili-1.7.pack.js"></script>
<script type="text/javascript" src="/js/jquery-accordion/lib/jquery.easing.js"></script>
<script type="text/javascript" src="/js/jquery-accordion/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="/js/jquery-accordion/jquery.accordion.js"></script>
<script src="/js/multiple-file-upload/jquery.MultiFile.js" type="text/javascript"></script>

<script src="/js/jquery-lightbox/js/jquery.lightbox-0.5.js" type="text/javascript"></script>

<style type="text/css">

</style>
<script type="text/javascript">
$(document).ready(function()
    {
        var num = 0;
        $('#gff_file').MultiFile({
        max: '5',
        accept: 'gff|gff3',
        STRING: {
	remove:'Remover',	
	selected:'Selecionado: $file',
	denied:'Invalid gff file, it is  $ext!'
},
                afterFileAppend:function(element,value,master_element){
                        num++;
                        //$('<input type="hidden" name="'+element.id+'" id="'+element.id+'" value="'+value+'">').insertAfter('#file_number');
                        $('#file_number').val(num);
                        //alert(element.name);
                },
                afterFileRemove:function(element,value,master_element){
                        num--;
                        $('#file_number').val(num);
                        //alert($('#file_number').val());
                }

        });
      }
);
</script>


<!-- Site Title -->
<title>GFF3 File Statics</title>

</head>

<body >

<div id="page_wrapper">

<div id="header">

<div id="header_left">
	
</div>

</div>

<!-- ======================= BEGIN NAV BAR =========================== -->	

<div id="menu_bar">
<div id="navcontainer">

[% INCLUDE nav_bar.html %]

</div>
</div>

<!-- ======================== END NAV BAR _=========================== -->	

<div id="breadcrumb">
<form name="form1" id="form1" enctype="multipart/form-data" method="post" action="/cgi-bin/gff3_stats.cgi">
<input type="hidden" name="rm" id="rm" value="upload_files" />
<input type="hidden" name="file_number" id="file_number" value="0" />
<table style="border: 0">
<tr>
<td style="border: 0">
Upload one or multiple gff3 files:
</td>
<td style="border: 0">
<input type="file"  name="gff_file" id="gff_file">
</td>
<td style="border: 0">
<input type="submit" value="    Upload All    ">
</td>
</tr>
</table>
</form>
</div>

<div id="content_wrapper">

[% content %]

</div> <!-- content_wrapper -->

<div class="spacer"></div>

<div id="footer">

<p>
    Copyright &copy; 2008 Sequence Ontology. All rights reserved.<br />
     <a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a>
</p>

</div>

</div> <!-- page_wrapper -->

</body>

</html>