[% WRAPPER main.tt %]

<h2>Exercise 11: Amino acid frequencies.</h2>

<p>Today in class we wrote a short script to parse a blast report
using bioperl. Using that script as a starting point, write a script
that will parse the file ~/data/labial.blasp and output a
table of amino-acid frequencies based upon the hit_strings in the
alignments in the blast report, e.g. $hsp-&gt;hit_string().</p>

<p>Sort your output by frequency so that the most commonly occurring
amino acid is at the top of the list. Your output should look like
this:</p>

<p>
R:0.131190073322053<br>
K:0.0944162436548223<br>
E:0.0846023688663283<br>
&hellip;
</p>

<p>Hints: Recall how you calculated frequencies form counts
previously. Keep in mind that you must get the total counts of each
amino acid and the total number of amino acids for all of the
hit_string portions of the hsps in the blast report. This is largely
an exercise in scoping variables. You will most likely want to create
two global variables %COUNTS, and $TOTAL_NUM_AA in main.</p>

[% END %]

