[% WRAPPER main.tt %]

<h2>Exercise 7. A subroutine to reverse complement a fasta file</strong></h2>

<p>
Today in class we wrote a script that parses a fasta file. That script
also contained a couple of useful functions/subroutines like get_seq()
and get_def().
</p>

<p>
Write a script (you can use your existing one as a starting point)
that has a subroutine that reverse complements a fasta file. Run the
script on ~/data/seq1.fasta.  Upload just your script.
</p>

<p>
Hint: have a look at the useful perl operator tr///.
</p>

[% END %]

