[% WRAPPER main.tt %]

<h2>Exercise 9. ID swapping</h2>

<p>Today in class we wrote a script that parses
~/data/FlyBase_data.txt and populates a data structure that provides
cross-indexing between Celera IDs (CG) and FlyBase Gene IDs.</p>

<p>Using this script as a starting point, write a script that will
parse the microarray data in ~/data/NMD_microarray.txt,
~/data/Male_to_Female.txt and ~/data72_hr_to_96_hr.txt and replace the
Celera ID with its Flybase equivalent.</p>

<p>Obviously this script will need to first parse FlyBase_data.txt and
use the cross-index to replace the CGs. Thus your script will have two
input files:
<ol>
  <li>
    FlyBase_data.txt
  </li>
  <li>
     One of the microarray files.
  </li>
</ol>

<p>
For example:<br />
my_script FlyBase_data.txt 72_hr_to_96_hr.txt
</p>

<p>Your script's output should consist of a tab-delimited file wherein
column 0 is the FlyBase gene ID and column 1 is the score.</p>

<p>For example if the data in 72_hr_to_96_hr.txt looks like this:<br />
<table width="50%">
  <tr>
    <td>CG3152</td>
    <td>1.0919432588347525</td>
  </tr>
  <tr>
    <td>CG13387</td>
    <td>0.6078514168333282</td>
  </tr>
  <tr>
    <td>CG18466</td>
    <td>0.331862498525462</td>
  </tr>
  <tr>
  </tr>
</table>
</p>

<p>Your script's output should look (something) like this<br />
<table width="50%">
  <tr>
    <td>FBgn0015521</td>
    <td>1.5604665182314387</td>
  </tr>
  <tr>
    <td>FBgn0028894</td>
    <td>0.6460517339673694</td>
  </tr>
  <tr>
    <td>FBgn0036688</td>
    <td>1.1135254239620464</td>
  </tr>
</table>
</p>

<p>Note that not every CG ID in the microarray data files will have an
equivalent FlyBase ID. The reasons for this are manifold: lost genes,
old data, IDs gone missing, etc. In fact, incomplete mappings between
old and current IDs are constantly a problem in bioinformatics - best
get used to it.</p>

<p>Finally have your script should have an option to keep track of the
number of CGs with FBgn IDs and the number without FBgn IDs. You will
need to output these results in the following tab-delimited
format:</p>

<p>&lt;file name&gt; &lt; # CGs with FBgn IDs&gt; &lt; # CGs without FBgn IDs&gt;</p>

<p>For example :</p>
<table width="50%">
  <tr>
    <td>72_hr_to_96_hr.txt</td>
    <td>8743</td>
    <td>1257</td>
  </tr>
  <tr>
    <td>Male_to_Female.txt</td>
    <td>9678</td>
    <td>876</td>
  </tr>
  <tr>
    <td>NMD_microarray.txt</td>
    <td>7890</td>
    <td>234</td>
  </tr>
</table>
</p>

[% END %]

