[% WRAPPER main.tt %]


<h2>Exercises</h2>

<ul>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_1">Excercise 1 - Setting up your working environment</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_2">Excercise 2 - Manipulation of fasta files with Unix commands</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_3">Excercise 3 - Mirror Mirror</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_4">Excercise 4 - Creating an index</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_5">Excercise 5 - A table of even and odd numbers</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_6">Excercise 6 - Scripts for parsing a text file using pattern matching with regular expressions</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_7">Excercise 7 - A subroutine to reverse complement a fasta file</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_8">Excercise 8 - A script using modules</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_9">Excercise 9 - ID swapping</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_10">Excercise 10 - UTR lengths and Entropy</a></li>
  <li><a href="/cgi-bin/Student/student_exercises.cgi?rm=exercise_11">Excercise 11 - Amino acid frequencies</a></li>
</ul>

<h2>Upload Your Exercises</h2>

<form method="POST" action="/cgi-bin/Student/student_exercises.cgi" enctype="multipart/form-data">
<input type="hidden" name="rm" value="exercise_upload">

<table>
  <tr>
    <td>Select Which Exercise You will Upload:</td>
    <td>
      <select name="exercise_number">
        <option value="unknown">Select your exercise</option>
        <option value="01">Exercise 1 - Setting up your working environment</option>
        <option value="02">Exercise 2 - Manipulation of fasta files with Unix commands</option>
        <option value="03">Exercise 3 - Mirror Mirror</option>
        <option value="04">Exercise 4 - Creating an index</option>
        <option value="05">Exercise 5 - A table of even and odd numbers</option>
        <option value="06">Exercise 6 - Scripts for parsing a text file using pattern matching with regular expressions</option>
        <option value="07">Exercise 7 - A subroutine to reverse complement a fasta file</option>
        <option value="08">Exercise 8 - A script using modules</option>
        <option value="09">Exercise 9 - ID swapping</option>
        <option value="10">Exercise 10 - UTR lengths and Entropy</option>
        <option value="11">Exercise 11 - Amino acid frequencies</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Find Your Exercie File:</td>
    <td><input type="file" name="file_name"></td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" name="Submit" value="Submit Your Exercise">
    </td>
  </tr>
</table>

</form> 

[% END %]

