[% WRAPPER main.tt %]

<h2>Exercise 10. UTR lengths and Entropy</h2>

<p>Today in class we learned a little about Shannon&rsquo;s theory of
information. Specifically we learned that the information content of a
source emitting a string was approximated by the following
equation:<br>


<p><img width="253" height="106" src="/Student/images/ex9_clip_image003.png"></p>

<p>For practical purposes, those in bioinformatics generally refer to
the entropy of a sequence rather than the entropy of a source, thus
every sequence &lsquo;has&rsquo; an entropy that is a function of the
frequencies of the bases or amino acids that compose it.</p>

<p>Today's exercise consists of the following. First parse the
multi-fasta file ~/data/dmel-utr3.longest_only.fasta using
your copy of multi-fasta parser that you constructed in Exercise
7. Then add two functions to your Fasta_utils.pm module:</p>
<ol>
  <li>get_length() - Returns the length of each sequence. </li>
  <li>get_entropy() - A function that calculates the entropy of each sequence.</li>
</ol>

<p>Now write a script using Fasta_utils.pm that writes out each
sequence ID, its length, and its entropy in a tab delimited file 
as follows:
<table width="50%">
  <tr>
   <td>FBgn ID</td>
   <td>UTR Length</td>
   <td>Entropy</td>
  </tr>
  <tr>
    <td>FBgn123456</td>
    <td>123</td>
    <td>1</td>
  </tr>
</table>
</p>

[% END %]

