[% WRAPPER main.tt %]

<h2>Exercise 8. A script using modules.</h2>

<p>
You may recall that in class the other day we wrote a module called
Fasta_utils.pm that provided useful functions for dealing with fasta
files and their contents.
</p>

<p>
For today's exercise write a script that uses this module to reverse
complement the sequences in the fasta file
~/data/dmel-utr3.longest_only.fasta and then print out a new fasta
file with every sequence reverse complemented. Don't forget to add
something to each def line like REVCOMP, so that any later users will
know that the outputs of your script are reverse complemented. Note
that your script should contain <em>no</em> subroutines. The script
will do all of the work and call functions from Fasta_utils.
</p>

[% END %]

